.XisDetalhesModal {
    font-family: "Exo";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    max-height: 350px;
    box-sizing: border-box;
    width: 315px;
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  .XisDetalhesModal > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .XisDetalhesModal__titulo {
    font-size: 2em;
    font-weight: 700;
    line-height: 100%;
  }
  
  .XisDetalhesModal__descricao {
    font-size: 1em;
  }
  
  .XisDetalhesModal__preco {
    color: darkviolet;
    font-size: 2.5em;
  }
  
  .XisDetalhesModal__foto {
    margin-right: -100px;
    z-index: 0;
    width: 10rem;
  }
  
  @media (max-width: 400px) {
    .XisDetalhesModal {
      width: 210px;
      height: 100vh;
    }
  
    .XisDetalhesModal__foto {
      height: 250px;
      margin-top: 50px;
      margin-right: -100px;
      width: 10rem;
    }
  
    .XisDetalhesModal__preco {
      font-size: 2em;
    }
  
    .XisDetalhesModal__titulo {
      font-size: 1.5em;
    }
  
    .XisDetalhesModal__descricao {
      font-size: 0.9em;
    }
  }